
<section id="format">
<h3>Teaching Format</h3>

<p>
        Class is conducted <span id="meetingtimes"></span> weekly through Webex during the scheduled class time.
        Instruction during class hours is a combination of lecture, discussion, and hands on activities that concretely
        demonstrate the content of the course. In order to participate in discussion, students are expected to read
        assigned texts before class and come prepared with their questions and comments about the reading. </p>

<p id="labinfo">Lab is conducted <span id="labtimes"></span> weekly through Webex during the scheduled lab time. During lab, the
        instructor will provide an introduction to an assignment of larger scope that students will work on for the
        remainder of the lab period, asking questions and receiving additional instruction as necessary. Labs will be
        checked for completion by the instructor; labs which are not completed during the lab period must be reviewed
        by the instructor during office hours or during another scheduled meeting between the student and instructor.
        </p>
<p>
        Participation in both hands-on activities and labs requires a functional personal computer; students should ensure
        that their computer is sufficiently charged and in good operation before attending class to ensure their ability
        to participate in this critical component of their learning.

</p>
</section>