/.idea/
**/.gradle/**
**/build/**
**/.idea/**
**/lab*answer/**
**/lab*demo/**
**/*.iml
**/gradle-wrapper.jar
**/gradlew*
**/out/production/**
**.class
.idea/
**.png
**.project
**/dist/**
**.jar
**.kts
**/bin/
**/gradle/**