
<section id="contact">
<h3>Contacting Me</h3>

<p> The best way to reliably reach me is by sending an email to my MassBay email account listed above. I check this
        email every day and try to respond to messages within 48 hours. To ensure your message is properly prioritized,
        please include the course ID and section in the header (e.g <span id="example"></span>.)</p>

<p>If it has been less than 48 hours and I have not yet responded, please do not send a follow-up message unless
        the circumstances of your original message have changed: I may have other obligations that have prevented me from
        responding to your message immediately. Additional follow-ups will only crowd my inbox and delay a timely
        response for you and other students. </p>
</section>