
@import url(code-highlighting.css);

* {
    font-size:12px;
}

:host {
    width: fit-content;
    display: block;
}

.container {
    position: relative;
    display: flex;
    font-size: 12px;
    width: 80em;
}


.tab > label {
    position: relative;
    display: inline-block;
    padding: 5px 20px;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    background:  lightgrey;
    color: #181818;
    transition: 0.3s;
}

.tab > input:checked ~ label {

    background:  #181818;
    color: grey;
    transition: 0.3s;
}

.tab > input {
    display: none;
    transition: 0.15s;
}

.content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    margin: 0;
    padding: 20px;
    width:100%;
    overflow-x: scroll;
    transition: 0.3s;
}
.tab > input:checked ~ .content {
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
}

label:hover {
    background-color: #DFDFDF;
    filter: drop-shadow(0px 0px 3.5px lightgray);
    padding-bottom: 8px;
    margin-top: -3px;
    transition: 0.3s;
}

input:checked ~ label:hover {

    margin-top: 0;
    padding-bottom: 5px;
}

