

<h3>Tentative Schedule of Topics</h3>

<p> The following is a list of topics that we will cover this semester. Note that this list is tentative: course schedule
        may adapt in response to the needs of the class and interruptions to the semester. Refer to the Syllabus website and
        Announcements on Blackboard to stay up to date to changes in the course schedule.</p>

<table >
        <thead>
        <tr>
                <td>Date</td>
                <td>Topic</td>
                <td>School Calendar</td>
        </tr>
        </thead>

        <tbody id="schedule-grid">

        </tbody>

</table>
