* {
    font-size: 11pt;
}


h3 {
    color: var(--title-accent);
    font-size: 13pt;
    margin-bottom: .75em;
}

#example {
    font-weight: bold;
}

table {
    padding: 4px;
    min-width: 95%;
    border-spacing: 0;
}

td {
    border: 1px solid black;
    padding: 20px;
}

thead {
    font-weight: bold;
}

tr {

}

.important-bright {
    font-weight: bold;
    color: hsl(calc(var(--accent-hue) - 180), 80%, 40%);
}

.important-dull {
    font-weight: bold;
    color: hsl(calc(var(--accent-hue) - 180), 30%, 70%);
}