

<h3>Submission Policy</h3>

<p>Work is expected to be submitted complete and on time. Failure to submit work promptly can delay return of graded
assignments to the entire class and deprives your peers of crucial feedback they need to monitor their own learning.
For this reason, I reserve the right to refuse submission of unexcused late work. Unless otherwise specified,
assignments are due by 11:59pm on their due date.</p>

<p>My ability to accurately gauge your mastery of course content depends on the receipt of submissions where at least a
        best-effort attempt has been made at all major components of an assignment. Without this context, there is no
        fair way for me to assign you a grade in relation to other students or provide you with meaningful feedback.
        For this reason, I reserve the right to reject without credit submissions which are missing one or more major
        features of the assignment.</p>

<p>
If circumstances outside of your control will prevent you from completing an assignment on time, you may contact me with
        a request for extension with an explanation at least 24 hours prior to the assignment due date. Requests for
        extension will be considered on a per-assignment basis, though I reserve the right to reject requests without
        sufficient cause or to modify the parameters of an assignment to reflect the extension. </p>