

<h3>Attendance Policy</h3>

<p>
Reminder of MassBay institutional policy on Attendance:

<blockquote>
Students are expected to attend all scheduled meetings of the courses in which they have enrolled, and they are
        responsible for any work missed due to absence. For each course, the policies regarding class and/or laboratory
        attendance and make-ups (if any) are developed by the instructor and will be specified in the course syllabus.
        The course instructor has full and final authority to allow make-up work. If student absences exceed five (5)
        class hours, the instructor may withdraw him/her from the course by notifying the Registrar with the student’s
        last known date of attendance. This action will result in the recording of the “WR” designation for course
        abandonment on the student’s academic record. Lack of attendance or course abandonment does not constitute
        automatic or official course withdrawal. Students who do not officially withdraw in accordance with College
        procedures are subject to full payment of tuition and fees, and may receive the failing grade of ‘F’ for the
        course(s). The date of official withdrawal is determined by the date all forms are completed and turned into
        the proper office, or the system date if the official withdrawal is conducted online, via Bay Navigator.
        Frequent withdrawal from courses may affect academic standing and financial aid status, among others.
</blockquote></p>

<p>For <span id="course">this class</span>, active participation is an important part of keeping up with material and ensuring your continued success
        in the Computer Science program. As such, this class institutes the following policies:</p>

<ul>
        <li>You are expected to attend scheduled sessions regularly, promptly, and with adequate preparation to discuss the day's topics.</li>
        <li>You are expected to contribute meaningfully to class discussions and question/answer sessions.</li>
        <li>During class time, you are expected to be mindful of other students and avoid distractions to yourself and your
                peers. This includes excessive phone use, social media browsing, and disruptive discussion.</li>
        <li>If you fail to attend a regularly scheduled session, you remain responsible for all material covered and
                assignments issued during that session. It is likewise your responsibility to identify these obligations.</li>
</ul>
<p>
Failure to comply with these policies may result in reduction to the Class Participation and Attendance
portion of your final grade.
</p>