

<h3>Academic Dishonesty Policy</h3>

<p>The MassBay Student Code of Conduct provides the following definitions for cheating and plagiarism:</p>

<blockquote>
        <dl>
                <div>
        <dd>Cheating</dd>
                <dt>Intentional use, and/or attempted use of any unauthorized assistance in any academic exercise
                        including dependence upon the aid of sources beyond those authorized by the instructor.</dt>
                </div>
                <div>
        <dd>Plagiarism</dd>
                <dt>Knowingly representing the words, ideas, or artistic expression of another as one’s own work in any
                        academic exercise, including but not limited to submitting previously-submitted assignments for
                        which the student has earned credit, copying or purchasing other’s work, patchworking source
                        material and representing the work as one’s own, or arranging for others to do work under a false name.</dt>
                </div>

        </dl>
        </blockquote>
<p>
Some examples of unacceptable behaviors in a programming class:
</p>
        <ul>
                <li>Submitting a program written in whole or in part by someone else.</li>
                <li>Performing a search for similar programs on a software repository "for inspiration" on how to structure
                your code.</li>
                <li>Posting code written for an assignment on a code discussion site asking for debugging information or
                tips from other users.</li>
        </ul>

        <p>
Instead, you are encouraged to:
        </p>

        <ul>

                <li>Ask for help during office hours or after class.</li>
                <li>Review course notes and other course materials on assignments where this type of reference has not
                        been explicitly disallowed (when you use code from lecture or an exercise, you should still
                        leave a comment citing your source!)</li>
                <li>Make use of student mentoring or other on campus resources.</li>
        </ul>
<p>
When a student engages in academic dishonesty, the Student Code of Conduct provides the following remedy:
</p>
<blockquote>
This policy recognizes the right of faculty to manage their class, including addressing directly with students issues
        of academic dishonesty. When there is information that academic dishonesty occurred, a faculty member may choose
        to take action as outlined in the course syllabus, including issuing a failing grade for the assignment or the course.
</blockquote>

<p>
                When I detect a violation of the academic honesty policy, I will notify you and offer you an opportunity
        to formulate a response. I reserve the right to take disciplinary action up to and including:
</p>
<ul>
        <li>Issuing a failing grade for the assignment.</li>
        <li>Issuing a failing grade for the course.</li>
        <li>Filing a formal Academic Dishonesty Complaint with the Dean of Students for further disciplinary review at
                the college level.</li>
        <li>Other actions commesurate with the severity of the case.</li>
</ul>
