
<section id="grade-policy">

<h3>Grading Policy</h3>
        <p>Grades serve two purposes: they allow instructors to communicate feedback to students on their mastery of course
        content, and they allow instructors to provide a final evaluation of student performance. Assignments for this
                semester will contribute to your final grade for this course in the following proportions:</p>

        <div id="grade-table">
                <div id="headers">
                        <span>Category</span>
                        <span>% of Final Grade</span>
                </div>
                <slot></slot>
        </div>

        <p>I am sensitive to the fact that grades are a source of immense stress for many students. In order to reduce anxiety
        and promote an environment conducive to learning, certain assignments are eligible for a 'make-up' lab. These make-up
        labs are alternate assignments that cover similar learning objectives to the original lab in a different way. Students
        may redeem a maximum of two make-up labs per semester; to attempt to redeem a make-up, attend office hours so that
        we may discuss assignment parameters.</p>

        <p>Note: Make-up labs are not available for exams or project milestones.</p>
</section>