
<section id="grade-policy">

<h3>Grading Policy</h3>
        <p>Grades serve two purposes: they allow instructors to communicate feedback to students on their mastery of course
        content, and they allow instructors to provide a final evaluation of student performance. Assignments for this
                semester will contribute to your final grade for this course in the following proportions:</p>

        <div id="grade-table">
                <div id="headers">
                        <span>Category</span>
                        <span>% of Final Grade</span>
                </div>
                <slot></slot>
        </div>

        <p>I am sensitive to the fact that grades are a source of immense stress for many students. In order to reduce anxiety
        and promote an environment conducive to learning, I will drop the lowest lab grade received this semester. However,
        note that some labs build on the previous week, so this is not a license to completely skip an assignment knowing
        that it will be dropped. You may still be responsible for doing that work in order to complete the next week's lab.</p>


</section>