
<section>
    <h3>Office Hours Statement</h3>

    <p>Office hours exist for ad-hoc help with course concepts, assignments, and anything else requiring my attention or
    support. <strong>Office hours are walk-in (no appointment needed)</strong>, and are shared between sections. In order
    to best serve the entire class, office hours are on a first-come, first-served, rotating-help schedule. This means
    you can make most effective use of office hours time by arriving early with specific questions already prepared.</p>

    <p>
    Examples of <strong>effective</strong> use of office hours:

    <ul>
    <li>"In yesterday's lecture, we went over an example where used a new kind of loop that we hadn't seen before.
        Could you explain why we would want to use this instead of the ones we've covered before while solving a
        real problem?"</li>
    <li>"This week we've been learning about objects, and I don't think I'm all the way there on understanding why
        we use them. I did all the reading exercises, but I think I could benefit from another example where more
        than one object works together."</li>
    <li>"I'm making good progress on the lab, but when I run my program the output is always off by one. Here is the
        section of my code that counts rows, could I walk you through what I'm doing to see if you can find the error?"</li>
    </ul>
    </p>
    <p>
    Examples of <strong>ineffective</strong> use of office hours:

    <ul>
    <li>
    "I missed class this week. Can you teach me everything we went over?"
    <ul><li>Instead, try to read the lecture notes from the sessions you missed, do the reading activities, and come
        with questions about individual parts that don't make sense.</li></ul>
    </li>

    <li>
    "I feel like I just don't get anything at all."
    <ul><li>Instead, try to identify specific topics you do not understand. It can help to re-read the objectives at
        the top of each lecture's notes and ask: "Can I do this?"</li></ul>
    </li>

    <li>
    "I don't know where to start on the lab."
    <ul><li>Instead, try writing a plain language description and flowchart for how you would solve the lab problem as
        a normal human. Then identify which specific instructions you're having trouble translating into program code.</li></ul>
    </li>
    </ul>
    </p>

    <p>In addition to the four scheduled office hours listed above, I also reserve a few additional hours each week for
        "floating" meetings scheduled with students who cannot attend office hours. Please contact me by email if you
        wish to reserve a block of this floating time (note: this time is limited, so availability in the same week as
        your request is not guaranteed. Please try to make it to office hours instead if able.)</p>

</section>